.publications {
	background-color: #f3d8c7;
}
.publications .Head_title {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 6rem;
	line-height: 9rem;
	color: #0b132b;
}
.publications .short_brief {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 160%;
	color: #0b132b;
}
.publications .page {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25rem;
	line-height: 160%;
	color: #0b132b;
}
@media (max-width: 600px) {
	.publications .Head_title {
		font-size: 4rem;
		line-height: 8rem;
	}
}
