.header {
	top: 0;
	right: 0;
	/* background: #c8f0fc; */
}
.header a {
	cursor: pointer;
}
.header .btn,
.navlink {
	/* display: inline-block; */
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
	/* line-height: 140%; */
	color: #faf9f9;
	border-radius: 0;
	text-decoration: none;
	border-bottom-left-radius: 1.5rem;
}
.navlink:hover {
	color: #faf9f9;
}

.big-menu {
	display: block;
	border-bottom-left-radius: 1.5rem;
	width: 65vw;
}
/* .hoverBtn:hover .small-btn {
	display: none !important;
}
.hoverBtn:hover .big-menu {
	display: block !important;
} */

@media screen and (max-width: 600px) {
	.big-menu {
		width: 100vw;
		height: 100vh;
		border-bottom-left-radius: 0rem;
	}
	.header {
		background: #c8f0fc00;
	}
}
