.banner {
	/* padding: 3rem 2rem; */
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.banner .name {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 7.5rem;
	line-height: 10rem;
	color: #000000;
}
.banner .short-description {
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 2rem;
	line-height: 140%;
	color: #000000;
	font-weight: bold;
	/* height: 38px; */
	overflow: hidden;
}
.banner .short-description .animation-wrapper {
	display: inline-block;
	color: #fff;
	position: relative;
	white-space: nowrap;
	/* top: 0;
	left: 0;
	-webkit-animation: move 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 1s;
	opacity: 1; */
}

/* @keyframes move {
	0% {
		top: 0px;
	}
	20% {
		top: -50px;
	}
	40% {
		top: -100px;
	}
	60% {
		top: -150px;
	}

	90% {
		top: 0;
	}
} */
.banner .short-description .word-bold {
	font-weight: bold;
}
@media (max-width: 600px) {
	.banner .name {
		font-size: 4rem;
		line-height: 8rem;
	}
}
