.aboutme {
	background: #c8f0fc;
	padding-top: 9rem;
	padding-bottom: 3rem;
}
.aboutme .title {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 6.25rem;
	line-height: 10rem;
	color: #0b132b;
}
.aboutme .self_brief {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 160%;
	color: #0b132b;
}
.aboutme .page {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 160%;
	color: #0b132b;
}
.aboutme .image {
	width: 75%;
}
.aboutme .socials {
	width: 75%;
}
.aboutme .socials > a {
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 140%;
	color: #0b132b;
	text-decoration: none;
}
.fadeInImage {
	animation-name: fadeInImage;
	animation-direction: alternate;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes fadeInImage {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 1;
	}
	85% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@media (max-width: 600px) {
	.aboutme .socials {
		width: 100%;
	}
	.aboutme .image {
		width: 100%;
	}
}
